@mixin center-content-desktop {
    
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


@mixin section-padding{
    padding-top: 60px;
    padding-bottom: 100px;
}


.container{
    @include center-content-desktop;
    @include section-padding;

}

/* mobile - hasta un maximo de 450px */
@media (max-width:450px) {

    .container {
        width: 90vw;
    }

}

/* tablet -entre 451 y 1439 */
@media (min-width:451px) and (max-width:1439px) {

    .container {
        width: 86vw;
    }

}

/* desktop - pantalla mayor de 1440 */
@media (min-width:1440px) {

    .container {
        width: 1440px;
    }

}


.division-flex {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;



    .division-line {

        height: 1px;
        background-color: white;
        width: 100%;
        margin-top: 10px;
    }

    p {

        color: white;
        font-size: 10px;
        letter-spacing: 1px;
        
        font-family: 'Michroma', sans-serif;
    }

    h4 {

        font-weight: 400;
        color: white;
        font-family: 'Dela Gothic One', sans-serif;
        font-size: 22px;
    }
}









.job-title {
    h4 {
        font-weight: 400;
        font-size: 36px;
        overflow-wrap: anywhere;
        font-family: 'Dela Gothic One', sans-serif;
        color: white;
    }

    h6 {
        font-weight: 400;
        font-size: 22px;
        overflow-wrap: anywhere;
        font-family: 'Dela Gothic One', sans-serif;
        color: gray;

        span {
            font-weight: 400;
            font-size: 22px;
            overflow-wrap: anywhere;
            font-family: 'Dela Gothic One', sans-serif;
            color: #f33838;
        }

    }

    p {
        margin-top: 3vh;
        font-family: 'Michroma', sans-serif;
        color: white;
        line-height: 2;



    }

}

.job-title-spacing {
    padding-bottom: 80px;
}
